{% extends "base.html" %}
{% block content %}
    {% if heading %}
            <h2>{{ heading }}</h2>
                {% endif %}
                    <ul id="article-list">
                        {% for article in article_list %}
                                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                                    {% endfor %}
                                        </ul>
{% endblock %}

